body {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    box-sizing: border-box;
}


.container {   
  width: 550px;
  /* height: 780px; */
  padding: 0 44px;
  display: flex;
  flex-direction: column;
  background: #121212;
     
}


header {
    position: relative;
    width: 100%;
    min-height: 208px;    
    background-image: url('./header_background.png');
    background-size: contain;  
    width: calc(100% + 88px); 
    
    margin-left: -44px   
}

.header_nav {
    width: 100%;
    position: absolute;
    top: 50%;
    
    display: flex;  
    color: #FFFFFF;   
}

.header_nav-title {
    padding-left: 44px;
    font-size: 43px;
    font-weight: 800;
    line-height: 24px;
}

.header_nav_link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding-right: 44px;
}
.header_input {
    width: 462px;
    height: 38px;
    position: absolute;
    bottom: -16px;
    left: 44px;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
   
}

.header_input input::placeholder {
    color: #A5A5A5; 
}


.header_input-text {
    width: 342px;
    color: #A5A5A5;
        
}

.header_input-button {
    width: 120px;
    color: #FFFFFF;
    background: #4B4B4B;
}

.header_input-icon {
    background-image: url('./search-icon.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 30px; 
}

.header_nav-title {
   margin-right: auto;
}

main {
    display: flex;
    flex-direction: column;
    margin: 45px 0; 
}

.article {
    display: flex;  
    margin-bottom: 45.59px;
}

.movie_image {
    max-width:99px;
    max-height: 147.41px;
    margin-right: 21px;
}

.movie_image-item {
    display: block;
    width: 100%;
}


.movie_text-title {
    width: 100%;
    display: flex;
    gap: 5px;
}


.movie_text {
    width: 342px;
    /* height: 60px; */
    text-align: left; 
    padding: 21px 0;

}

.movie_text-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.movie_text-star {
    align-self: center;
    height: 100%;;
}
.movie_text-rating {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.movie_text-info {
    display: flex;
    margin-top: 11px;
    margin-bottom: 8px;
    gap: 18px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
}


.movie_text-icon {
   font-size: 0;
   display: flex;
   align-items: center;
   
}

.movie_text-select {
    margin-left: 5px;
    font-size: 12px;  
}




.movie_text-summary {
    color: #A5A5A5;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
