body {
    margin: 0;
    padding: 0;
}

.container {
  width: 550px;
  height: 780px;
  background-color: silver;
  /* text-align: center; */
  padding: 82px 44px;
  /* display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4 1fr);
  border-bottom: gray 1px solid; */
  display: flex;
  flex-direction: column;
  
}
header {
    position: relative;
    width: 550px;
    height: 208px;    
    background-color: aqua;
    
}

.header_nav {
    width: 100%;
    position: absolute;
    top: 50%;  
    display: flex;  

   
}

.header_input {
    width: 462px;
    height: 20px;
    position: absolute;
    bottom: -10px;
    left: 44px;
    display: flex;
}

.header_input-text {
    width: 342px;
}

.header_input-button {
    width: 120px;
}

.header_input-icon {
    background-image: url('./search-icon.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 30px; /* adjust this value as needed to make space for the icon */
}

.header_nav-title {
   margin-right: auto;
}

main {
    display: flex;
    flex-direction: column;
    margin: 45px 0; 

}

.article {
    display: flex;
    background-color: green;
    margin-bottom: 45.59;
}

.movie_image {
    width:99px;
    height: 147.41px;
    margin-right: 21px;
}

.movie_image-item {
    display: block;
    min-width: 100%
}

.movie_text {
    width: 342px;
}

.movie_text-title {
    width: 100%;
    display: flex;
    background-color: royalblue;
    gap: 5px;
}

.movie_text-info {
    display: flex;
    margin-top: 11px;
    margin-bottom: 8px;
    /* justify-content: space-between; */
    gap: 18px;
}

.movie_text- {
    width: 342px;
    height: 60px;
    text-align: left;
}